.appbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #353535;
}
.appbar__logo {
  transform: scale(0.45);
}
.appbar__nav {
  display: flex;
  position: absolute;
  top: 18px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  font-size: 1.5rem;
}
.appbar__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
}
.appbar__location--icon {
  margin-right: 0.625rem;
}

.appbar-home .appbar__nav {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 25px 70px 25px;
  background-color: #f6f6f6;
}
.hero__title {
  margin: 0 auto;
  padding: 0 40px;
}
.hero__content {
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 30px;
}

.instructions {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.instructions__title {
  margin-bottom: 30px;
}
.instructions__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 25px;
  background-color: #f6f6f6;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.13);
}
.instructions__card--order {
  position: absolute;
  font-size: 0.813rem;
  top: 22px;
  left: -12px;
  padding: 5px 9px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
}
.instructions__card--icon {
  font-size: 1.2rem;
  margin-left: 15px;
  color: #7e7e7e;
}
.instructions__card--text {
  margin-left: 30px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
.restaurant__title {
  margin: 20px 0;
}
.restaurant .flexbox-column-row {
  gap: 20px;
}

.card__content {
  position: relative;
}
.card__content .like-btn__icon {
  position: absolute;
  top: -10px;
  right: 30px;
}

.card {
  position: relative;
}
.card .new {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 2.5rem;
  }
  .instructions {
    padding: 40px 180px;
  }
  .instructions__card {
    width: 25%;
  }
  .instructions .flexbox-column-row {
    justify-content: space-between;
  }
  .restaurant {
    padding: 40px 180px;
  }
  .restaurant .flexbox-column-row {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  .restaurant a {
    width: 45%;
  }
}
.cta {
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 40px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  font-size: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: box-shadow 200ms ease, opacity 200ms ease;
}

.cta:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.card__img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.card__content--title {
  font-weight: 500;
  margin-bottom: 10px;
}
.card__content--text {
  font-weight: 300;
}

.like-btn {
  display: none;
}

.like-btn + .like-btn__icon {
  position: relative;
  display: inline-block;
}

.like-btn + .like-btn__icon:before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  font-size: 23px;
  transform: scale(0.9, 1.05);
  position: absolute;
  top: -1px;
  opacity: 1;
  transition: opacity 200ms ease;
}

.like-btn + .like-btn__icon:after {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  font-size: 23px;
  transform: scale(0.9, 1.05);
  font-weight: 900;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease;
}

.like-btn:checked + .like-btn__icon:after {
  opacity: 1;
}

.like-btn:checked + .like-btn__icon:before {
  opacity: 0;
}

.new {
  background-color: #99e2d0;
  border-radius: 3px;
  padding: 7px 13px;
  color: #008766;
  font-size: 0.875rem;
}

.icon-container {
  font-size: 14px;
}

.appfooter {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 20px;
}
.appfooter__logo {
  width: 110px;
  height: 19px;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(211deg) brightness(111%) contrast(105%);
  margin: 10px 0;
}
.appfooter__link {
  display: flex;
  flex-direction: row;
  text-align: right;
  gap: 5px;
  padding: 5px 0;
}
.appfooter__link--icon {
  vertical-align: text-bottom;
}

@media (min-width: 1024px) {
  .appfooter {
    flex-direction: row-reverse;
    gap: 50px;
    padding-top: 45px;
    padding-right: 60px;
    align-items: flex-end;
  }
  .flexbox-column-row {
    gap: 15px;
  }
}
:root {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 1.5rem;
}

.primary-color {
  color: #9356dc;
}

.flexbox-column-row {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: inline-block;
  width: 25px;
  text-align: left;
}

@media (min-width: 1024px) {
  .flexbox-column-row {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
