@import './variables.scss';

.icon-container {
    font-size: 0.875rem;
}

.appfooter {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $dark-grey;
    padding: 20px;

    &__logo {
        width: 110px;
        height: 19px;
        filter: invert(100%) sepia(0%)saturate(7485%) 
                hue-rotate(211deg) brightness(111%) contrast(105%);
        margin: 10px 0;
    }

    &__link {
        display: flex;
        flex-direction: row;       
        text-align: right;
        gap: 5px;
        padding: 5px 0;

        &--icon {
            vertical-align: text-bottom;
        }
    }
}




@media (min-width:768px) {
    .appfooter {
        flex-direction: row-reverse;
        gap: 50px;
        padding-top: 45px;
        padding-right: 60px;
        align-items: flex-end;
    }

    .flexbox-column-row {
        gap: 15px;
    }
}