@import './variables.scss';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
    background-color: $section-bg;

    &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $form-bg;
        color: $dark-grey;
        width: 100%;
        text-align: center;
        padding: 12px;

        &--icon {
            margin-right: 10px;
        }
    }

    &__content {
        padding: 40px 25px 30px 25px;

        &--title {
            margin: 0 40px;
        }

        &--text {
            font-weight: $light-weight;
            margin-top: 15px;
        }
    }
}

.instructions {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    &__title {
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 25px;
        padding: 25px;
        background-color: $section-bg;
        border-radius: 20px;
        position: relative;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.13);

        &--order {
            position: absolute;
            font-size: 0.813rem;
            top: auto;
            left: -12px;
            padding: 5px 9px;
            background-color: $primary-color;
            border-radius: 50%;
            color: white;
        }

        &--icon {
            font-size: 1.2rem;
            margin-left: 15px;
            color: $icon-grey;
        }

        & .purple-icon {
            color: $primary-color;
        }

        &--text {
            margin-left: 30px;
        }
    }
}

.restaurant {
    background-color: $section-bg;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 20px 0;
    }

    & .flexbox-column-row {
        gap: 20px;
    }
}

.card {
    position: relative;

    & .new {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.card-wrapper {
    position: relative;

    & .input-wrapper {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }
}

@media (min-width: 1024px) {

    .hero {
        &__content--title {
            font-size: 2.5rem;
        }
    }

    .instructions {
        padding: 40px 180px;

        &__card {
            width: 25%;
        }

        & .flexbox-column-row {
            justify-content: space-between;
        }
    }

    .restaurant {
        padding: 40px 180px;

        & .flexbox-column-row {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }

        & .card-wrapper {
            width: 45%;
        }
    }
    
}

@media (min-width: 768px) and (max-width:1024px) {

    .hero {
        &__content--title {
            font-size: 2.5rem;
        }
    }

    .instructions {
        padding: 40px 60px;

        &__card {
            width: 25%;
        }

        & .flexbox-column-row {
            justify-content: space-between;
        }
    }

    .restaurant {
        padding: 40px 60px;

        & .flexbox-column-row {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }

        & .card-wrapper {
            width: 45%;
        }
    }
    
}

