@import './variables.scss';

$total-time: 2150ms;
$content-delay: 250ms;
$title-content-delay: 800ms;
$card-bezier: cubic-bezier(.27,.04,.02,1.29);
$accent-delay: 1000ms;
$accent-bezier: cubic-bezier(0,0,.11,.73);

.restaurant-body {
    position: relative;
}

.img_restaurant {
    display: flex;
    height: 300px;
    width: 100%;
    position: absolute;
    
    & img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 60%;
    }
}

.main-wrap {
    position: absolute;
    width: 100%;
    top: 320px;

    & .input-wrapper {
        position: absolute;
        top: 30px;
        right: 60px;
    }
}

.dishes {
    display: flex;
    flex-direction: column;
    background-color: $section-bg;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    overflow: hidden;

    &__title {
        font-family: $font-title;
        font-size: 28px;
        font-weight: 400;
        padding: 15px 0;
        margin-right: 50px;
    }

    &__category {

        margin-bottom: 40px;

        & h2 {
            font-size: 1.125rem;
        }

        & span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & .no-overflow {
            overflow: visible;
        }

        &--title {
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        & .title-accent {
            width: 50px;
            height: 5px;
            background-color: $tertiary-color;
            margin-top: 5px;
            transform-origin: left;
            animation: animation-accent 1000ms $accent-bezier both;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: $accent-delay + $total-time * ($i - 1);
                }
            }
        }

        animation: animation-content 800ms ease-in-out both;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $total-time * ($i - 1);
                // $total-time represent the total duration of the animation (title + each dishes cards),
                // delay = 0 for $i = 1 because it's the first animation, no delay needed
            

                &--content {
                    transform-origin: center;
                    animation: animation-card 1000ms $card-bezier both;
                    @for $f from 1 through 4 {
                        &--#{$f} {
                            animation-delay: ($total-time * ($i - 1)) + $title-content-delay + $content-delay * ($f - 1);
                            // first member of the addition has the same purpose than the animation-delay in the first for loop
                            // $title-content-delay is the base delay from the end of title animation and start of cards animation
                            // $content-delay represent the animation delay between each card
                            // $content-delay = 0 for $f = 1 because it's the first card, no additional delay needed
                        }
                    }
                }
            }
        }

    }

    & .cta {
        text-align: center;
        margin: 10px auto 30px;
        padding: 15px 50px;

    }
}

@keyframes animation-content {
    0% {
      transform: translate(-110%);
    }
}
  
@keyframes animation-accent {
    0% {
      transform: scaleX(0);
    }
}

@keyframes animation-card {
    0% {
        transform: scaleX(0);
    }
}


@media (min-width:1024px) {
    .dishes {
        margin: 0 180px;
    }

    .main-wrap .input-wrapper {
        right: 240px;
    }
}

